@font-face {
    font-family: 'Noto Sans Mono';
    src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9a6VI.woff2) format('woff2');
    font-weight: 1000;
}
:root {
    --bg-default: #2c2c2c;
    --fg-default: #8090c0;
    --fg-alt2: #c19f68;
    --fg-alt1: #dab272;
    --grab: #ff0000;
    --highlight: #32cd32;

    background: var(--bg-default);
    overflow: clip;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 1000;
}
body {
    margin: 0px;
    height: 100%;
}
a { text-decoration: none; }
#master {
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "foot";
    grid-auto-rows: min-content max-content min-content;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    padding: 15px 60px 15px 60px;
    box-sizing: border-box;
    gap: 15px;
}
#header {
    width: 100%;
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5em;
}
#content {
    grid-area: main;
    height: 750px;
}
#footer {
    width: 100%;
    grid-area: foot;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
#footer > * {
    flex-basis: 100%;
}
canvas {
    width: 100%;
    height: 100%;
}
#namePrompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--fg-default);
    width: 50%;
    height: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
#namePrompt > * {
    flex-basis: 10%;
}
#namePrompt > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 15px;
}
#namePrompt > div > button {
    height: 100%;
    width: 50%;
}
input {
    font-size: 1em;
    text-align: center;
}
input::placeholder { color: gray; }
input:invalid { color: red; }
input:valid { color: green; }
input:valid:focus { outline: 2px solid green; }
input:invalid:focus { outline: 2px solid red; }
input:focus { outline: 0; }

table {
    border-collapse: collapse;
    border: 1px solid var(--fg-default);
    letter-spacing: 1px;
    color: var(--fg-default);
    font-size: 1em;
}
td, th {
    border: 1px solid var(--fg-default);
    padding: 10px;
    text-align: center;
}
caption { padding: 10px; }
