:root {
    --bg-default: #2c2c2c;
    --fg-default: #f2c57c;
    background: var(--bg-default);
    font-family: 'Noto Sans Mono', monospace;
    overflow: clip;
}
span { cursor: pointer; width: max-content; font-weight: 1000; color: var(--fg-default); }
p, a, h1 {
    width: max-content;
    font-weight: 1000;
    color: var(--fg-default);
    text-align: center;
}
.sidebar {
    z-index: 1000;
    height: 100%;
    position: fixed;
    top: 0; left: 100%;
    background-color: var(--bg-default);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
    border-left: 1px solid var(--fg-default);
    width: 600px;
    display: inline-block;
    text-align: center;
}
.sidebar > div {
    display: flex;
    position: relative;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
    .sidebar { width: 300px; }
}
#vert {
    flex-direction: column;
    gap: 2em;
}
.lin {
    fill: var(--fg-default);
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
}
#gh, #ln {
    fill: var(--fg-default);
    font-size: initial;
    width: 3em;
    height: 3em;
    padding-bottom: 100%;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 2.5em;
}
