@font-face {
    font-family: 'Noto Sans Mono';
    src: url(https://fonts.gstatic.com/s/notosans/v36/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9a6VI.woff2) format('woff2');
    font-weight: 1000;
}
:root {
    --bg-default: #2c2c2c;
    --fg-default: #f2c57c;
    --fg-alt2: #c19f68;
    --fg-alt1: #dab272;

    background: var(--bg-default);
    overflow: clip;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 1000;
}
a { text-decoration: none; }
#back { display: block; z-index: 1; }
span { cursor: pointer; width: max-content; font-weight: 1000; color: var(--fg-default); }
p, a, h1 { width: max-content; color: var(--fg-default); }
#sorting-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#content{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 65%;
}
#header {
    font-size: 4vmin;
    width: 100%;
    height: max-content;
    padding: 2% 3% 2% 3%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#canvas {
    width: 100%;
    height: 100%;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2% 3% 2% 3%;
    box-sizing: border-box;
}
#fanner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-color: var(--fg-default);
    color: var(--bg-default);
    border: none;
    border-radius: 10%;
    transition: background-color 0.2s;
}
button:hover {
    transition: background-color 0.2s;
    background-color: var(--fg-alt1);
}
button:active {
    transition: background-color 0.2s;
    background-color: var(--fg-alt2);
}
#iconplay, #iconpause { fill: var(--bg-default); }
#sort, #stepforward, #stepback { width: 2em; height: 2em; }
#main-container {
    position: relative;
    padding: 2% 3% 2% 3%;
    height: 100%;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border: 1px solid var(--fg-default);
    letter-spacing: 1px;
    color: var(--fg-default);
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1em;
}
#table-container {
    padding-bottom: 75px;
}
td, th {
    border: 1px solid var(--fg-default);
    padding: 10px;
    text-align: center;
}
caption { padding: 10px; }
